body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: larger;
    font-weight: bold
}

#hero {
    background-image: url("images/khartoum-skyline.jpg");
    background-size: cover;
    padding: 10px 0 40px 0;
    text-shadow: 4px 0px 4px black;
    color: whitesmoke
}

.attraction-img {
    margin: 50px auto 0px auto;
    width: 150px;
    height: 150px;
    border: 6px solid white;
    border-radius: 50%;
    background-size: cover;

}

#tuti-island {
    background-image: url("images/tuti.jpg");
}

#nubian-pyramids {
    background-image: url("images/pyramids.jpg"); 
}

#grand-mosque {
    background-image: url("images/mosque.jpg"); 
}

.attraction-title {
    margin: 0px;
    
}

.text-size {
    font-size: 16px;
}

#tour-btn {
    margin: 100px;
    padding: 10px 12px;
    border: 50pt solid 403d39;
    border-radius: 15px;
    background-color: #dad7cd;
    font-family: inherit;
    font-weight: bold
}
   




